header{
    background-color:#7C5E99;
    width: 100%;
}

nav{
    text-align: justify;
}


a {
    color:white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
/* o # funciona para pegar o 'ID' */
#button{
    /* O display inline não deixa definir altura e largura */
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #000;
}


p{
    text-align: justify;
}
