/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: "inherit"; */
	/* vertical-align: baseline; */

	font-family: "Space Grotesk", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

	width: 100%;
	margin: 0;
	font-family: "Space Grotesk", sans-serif; scroll-behavior: smooth; 	
	/* overflow: hidden; */
}
ol, ul {
	list-style: none;
}
/* blockquote, q {
	quotes: none;
} */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */

:root {
  --cor-meu-nome: #468be5;
  --cor-secundaria: #327daf;
  --cor-enquadramento: #7274e750;
  --cor-background-white-mode: #ffffff;
  --cor-texto-white-mode: #141414;
  --cor-background-dark-mode: #141414;
  --espacamento: 16px;
  --size-section: 200px
}

button{
	border: none;

}


body{
	background-color: var(--cor-background-white-mode);

}

progress-bar{
	overflow: hidden;
}


img {
  width: auto;
  height: auto;
}




h1{
	color: var(--cor-texto-white-mode);
}


.logo{
	font-size: 2rem;
	user-select: none;
	cursor: pointer;
}

main{
	padding-top: 8rem;
}

h1{
	font-family: "Space Grotesk";
}

p{
	color: var(--cor-texto-white-mode);
}