/* o # funciona para pegar o 'ID' */
.button{
    /* O display inline não deixa definir altura e largura */
    display: inline-block;
    background-color: #72bdaa;
    text-decoration: none;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    text-shadow: 2px 2px 0px #000;
    border-radius: 5%;
    transition: transform 200ms linear;
    margin-right: 0;
    color:rgb(255, 255, 255);
    font-size: 20px;
}
.button:hover{
    transform: scale(1.08);
    background-color: #646464;
}
