.nav-header{
    width: 100%;

    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background: rgba(214, 214, 214, 0.7);
    backdrop-filter: blur(10px);
    color: transparent;
    padding:1rem;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}