.header{
    background-color:#646464;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    display: flex;
    /* O display flex cria uma flex box que ajuda a alinhar os elementos  */
    justify-content: space-between;
}

.header .navigation{
    text-align: right;
}