.main-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    user-select: none;

}

.image-menu{
    width: 30%;
}

.main-item-description{
    color: white;
    font-size: 15px;
}

.main-item-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    cursor: pointer;
}



.main-item-section:hover{
    box-shadow: 0 3px 0px rgb(16, 65, 16);;
}