.main-presentation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: auto; */
    /* height: 200px; */
    margin-top: 5rem;
    gap: 2rem;
}

.main-presentation .main-tech
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    user-select: none;

}

.container-main-cv
{
    margin-bottom: 2rem;
}

.main-presentation-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

}


.container-logo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    
}

.main-container-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.main-description{
    text-align: justify;
    width: 20rem;
}

.p-main-description{
    color: #F1F0F1;
    text-decoration: none;
    text-align: center;
}

.main-logo{
    color: #F1F0F1;
    font-size: 30px;
    cursor: pointer;
}

.fake-html-logo{
    color: #F1F0F1;
}

@keyFrames slide-in{
    from{
        transform: scale(1.0);

    }

    to{
        transform: scale(1.1);
        /* color: #24241E; */

    }
}


.main-logo:hover{
    animation: slide-in 5s ease;
}



.main-container-foto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-download-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.container-main-cv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:3rem;
    user-select: none;
}

.main-container-foto{
    background-color: #F1F0F1;
    height: 10rem;
    width: 10rem;
    border-radius: 1.5rem;
}

.main-download{
    width: 2rem;

}

.main-download-container .download-p{
    color: #F1F0F1;
}

.main-btn-linkedin{
    text-decoration: none;
    color: #F1F0F1;
}