.main-action{
    display: inline-flex;
    align-items: center;
    color:rgb(255, 255, 255);
    font-size: 20px;
    /* font-family: "Fira Code", Arial, Helvetica, sans-serif; */
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    text-shadow: 2px 2px 0 #302273;
    text-align: center;
    animation: transform 500ms linear;
}

.main-action:hover{
    content: '';
    transform: scale(1.1);
    box-shadow: 0px 11px 0 #fff;
    border-radius: 5px;
    height: 54px;
    background-color: #fff;
}
