.main-box{
    position: relative;
    display: inline-block;
    background-color: #000;
    text-align: center;
    padding: 42px 44px;
    box-shadow: 3px  2px 0px #2F17CE;
    border-radius: 10px;
}

.main-box .main-title{
    margin-bottom: 28px;
}
