.main-section{
    background-color: #72bdaa;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #407265;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-projects{
    background-color: #203d36;
    border-bottom: 10px solid #72bdaa;
}