#menu_botao{
    display: none;
    background-color: #fff;
    /* position: fixed; */
    transform: translate(-20px, 15px);
    /* transform: translateY(15px); */
    border-radius: 2px;
    padding: 20px;
    /* margin: 0px 500px; */
    /* padding-top: 1px; */
    /* justify-content: center; */
    /* width: 100%; */
}




#menu_botao a{
    margin: 10px;
    transition: transform 10ms ease-in-out;
}

#menu_botao a:hover{
    background-color: #1A0D73;
    border-radius: 2px;
    color: #fff;
    transform: scale(2);
} 