#menu_botao{
    display: none;
    background-color: #fff;
    min-height: 10px;
    max-height: 200px;
    transform: translate(0, 15px);

    border-radius: 2px;

    animation: open_menu_bar 200ms;
    width: 100%;
    flex-grow: 10;
}

#menu_botao nav{
    margin: 10px;
    animation: open_menu_bar_ap 500ms;
}

#menu_botao a{
    margin: 10px;
}

#menu_botao a:hover{
    background-color: #1A0D73;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
} 

@keyframes open_menu_bar{
    from 
    {
        width: 0%;
    }
    
    to
    {
        bottom: 0;
        width: 100%;
    }

}

@keyframes open_menu_bar_ap{
    from 
    {

        transition: translateY(-10px);
        font-size: 0%;
        opacity: 0%;
    }
    
    to
    {
        transition: translateY(0px);
        font-size: 100%;
        opacity: 100%;
    }

}