.progress-bar{
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #fff;
}

.progress-bar::-webkit-progress-bar {
    background: #000;
    border-radius: 2px;
}


.progress-bar::-webkit-progress-value{
    background-color: #2F17CE;
}


.progress-bar::-moz-progress-bar{
    background: #000;
    border-radius: 2px;
}

.progress-bar::-moz-progress-value{
    background-color: #2F17CE;
}

.right .title{
    display: flex;
    flex-direction: column;
}