.progress-bar{
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    border: 5px solid #000;
}

.progress-bar::-webkit-progress-bar {
    background: #eeeeee;
    border-radius: 2px;
}


.progress-bar::-webkit-progress-value{
    background-color: #203d36;
}


.right .title{
    display: flex;
    flex-direction: column;
}