#projects-btn{
    cursor:pointer;
    user-select: none;
}

#section-projects{
    text-align: center;
    padding-top: 5rem;
    height: auto;
    margin-bottom: 5rem;
}

#section-projects h1{
    text-align: center;
    margin-bottom: 50px;
}


#section-projects div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    width: auto;

}


@media screen and (max-width:600px){
    #section-projects div{
        flex-wrap: wrap;
        gap: 30px;
    }
}